createNamespace: false
namespace: anomaly-system


image:
  repository: confluentinc/cp-kafka
  tag: "7.8.0"
  pullPolicy: IfNotPresent


# Brokers list: you can add/remove entries to scale
brokers:
  - name: kafka1
    id: 1
    storage: 5Gi
  - name: kafka2
    id: 2
    storage: 5Gi


resources:
  requests:
    memory: "1Gi"
    cpu: "500m"
  limits:
    memory: "2Gi"
    cpu: "1000m"


# Cluster-level Kafka settings (can be templated into envs)
cluster:
  processRoles: "broker,controller"
  controllerQuorumVoters: "1@kafka1:9093,2@kafka2:9093"
  listeners: "PLAINTEXT://0.0.0.0:9092,EXTERNAL://0.0.0.0:9096,CONTROLLER://0.0.0.0:9093"
  listenerSecurityProtocolMap: "CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT"
  controllerListenerNames: "CONTROLLER"
  interBrokerListenerName: "PLAINTEXT"
  offsetsTopicReplicationFactor: "2"
  defaultReplicationFactor: "2"
  minInSyncReplicas: "1"
  groupInitialRebalanceDelayMs: "0"
  clusterId: "EmptNWtoR4GGWx-BH6nGLQ" # keep or generate once and persist


# Kafka UI
kafkaUI:
  enabled: true
  image:
    repository: provectuslabs/kafka-ui
    tag: latest
  replicaCount: 1
  service:
    port: 8080
  ingress:
    enabled: true
  host: kafka-ui.local
  annotations:
    kubernetes.io/ingress.class: "nginx"


# Services
service:
  brokerPort: 9092
  controllerPort: 9093
  externalPort: 9096


# PVC storage class can be left blank to use default
storageClass: ""


# Optional: if you want headless service
headless:
  enabled: true
  name: kafka-headless


# Extra envs for kafka-ui or brokers
extraEnv: []